.calendar {
  margin: 1em;
  /* color: #c64d10; */
  color: #2c78eb;
  font-size: 1em;
  display: inline-block;
  border: 3px solid #a0a096;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

/* FROM HERE - DOX RECOMMENDED LIFTING THIS CODE AND UPDATING WHERE NEEDED*/

.calendar {
  max-width: 100%;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.calendar--doubleView {
  width: 400px;
}
.calendar--doubleView .calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.calendar--doubleView .calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.calendar,
.calendar *,
.calendar *:before,
.calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.calendar button:enabled:hover {
  cursor: pointer;
}
.calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.calendar__navigation button {
  min-width: 44px;
  background: none;
}
.calendar__navigation button:disabled {
  background-color: #e6e6e6;
}
.calendar__navigation button:enabled:hover,
.calendar__navigation button:enabled:focus {
  background-color: #64668f;
}
.calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.calendar__month-view__weekNumbers .calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.calendar__month-view__days__day--weekend {
  /* color: #d10000; */
  color: #29096d;
}
.calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.calendar__year-view .react-calendar__tile,
.calendar__decade-view .react-calendar__tile,
.calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.calendar__tile:disabled {
  background-color: #f0f0f0;
}
.calendar__tile:enabled:hover,
.calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.calendar__tile--now {
  background: #ffff76;
}
.calendar__tile--now:enabled:hover,
.calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.calendar__tile--hasActive {
  background: #76baff;
}
.calendar__tile--hasActive:enabled:hover,
.calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.calendar__tile--active {
  background: #006edc;
  color: white;
}
.calendar__tile--active:enabled:hover,
.calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
